body{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center ;
  min-height: 100vh;
}

.formulario{
  background-color: rgb(69, 103, 131);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

label{
  display: block;
margin-bottom: 10px;

}

input, select{
  width: 100%;  
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 100px;
}


button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.descripcion{
  padding: 15px 15px; 
   width: 100%;
}
